{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "env": {
    "test": {
      "plugins": [
        "@babel/plugin-transform-runtime"
      ]
    },
    "development": {
      "plugins": [
        "@babel/plugin-transform-runtime"
      ]
    },
    "production": {
      "plugins": [
        "transform-react-remove-prop-types"
      ]
    }
  },
  "plugins": [
    [
      "module-resolver", {
        "root": ["."],
        "alias": {
          "graphql": "./src/graphql",
          "infra": "./src/infra",
          "routes": "./src/routes",
          "components": "./src/components",
          "pages": "./src/pages"
        },
        "cwd": "babelrc"
    }]
  ]
 }
